<form #ngForm="ngForm" [formGroup]="form" (ngSubmit)="apply()" novalidate>
    <mat-form-field subscriptSizing="dynamic">
        <mat-label translate="document-url"></mat-label>
        <input #input matInput [placeholder]="'enter-press-article-url' | translate" type="url" formControlName="url">
        <mat-icon matIconPrefix color="accent">http</mat-icon>
        <button *ngIf="input.value.trim()" matSuffix mat-icon-button type="submit">
            <mat-icon class="icon-suffix">done</mat-icon>
        </button>
    </mat-form-field>
</form>
