@use '@angular/material' as mat;
@use 'sass:map';

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $typography-config: mat.get-typography-config($theme);

  survey {
    --primary: #{mat.get-color-from-palette($primary)};
    --font-family: map.get($typography-config, 'font-family');

    .sd-btn--action:hover {
      background-color: var(--primary, #{mat.get-color-from-palette($primary)});
    }
  }
}
