<app-header></app-header>
<main class="main-section">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title translate="analyse-documents"></mat-card-title>
            <mat-card-subtitle>
                <app-model-selector (modelEvent)="onModelSelected($event)"></app-model-selector>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-url-input (urlEvent)="onUrlLoaded($event)"></app-url-input>
            <app-text-divider [text]="'or' | translate"></app-text-divider>
            <app-file-upload class="card-item-flex file-upload"
                             [placeholder]="'upload-from-computer' | translate"
                             [maxCount]="maxFileCount"
                             [maxSizeKb]="maxFileSize"
                             [mimeTypes]="acceptedFileMimeTypes"
                             (errorEvent)="onFileSelectError($event)"
                             (fileEvent)="onFilesLoaded($event)">
            </app-file-upload>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [disabled]="!processCall" (click)="process()">
                {{ 'analyse' | translate | uppercase }}
                <mat-icon>manage_search</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</main>
<app-footer></app-footer>
