html,
body {
  height: 100vh;
}

body {
  margin: 0;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.card-item-flex {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: text;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

mat-list-item {
  height: initial !important;

  .mat-mdc-list-item-title {
    text-align: justify;
    font-weight: 500;
  }

  .mat-mdc-list-item-line {
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: justify;
  }
}

.details-btn {
  .mat-mdc-button-persistent-ripple, .mat-mdc-button-ripple {
    display: none;
  }
}

.mat-mdc-card-header-text {
  margin: 0;
}

@media screen and (min-width: 536px) {
  .mat-card {
    min-width: 500px;
  }
}
