html,
body {
  height: 100vh;
}

body {
  margin: 0;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 536px) {
  .mat-card {
    min-width: 500px;
  }
}
